body {
    color: rgb(49,58,69)
    font-family: arial
}

div {
  min-height: 100vh
  width: 100vw;
}

h1, h2, h3, p {
  text-align: center;
}


h1 {
  font-size: 10em;
  font-weight: bold;
}

h2 {
  font-size: 2.5em
}

h3 {
  font-size: 2em
}

img {
  display: flex;
  margin: 0 auto;
  padding: 30px;
  border-radius: 130px
}

p {
  font-family: "Times New Roman", Times, serif;
  width: 50%;
  margin: 10vh 10vw;
  font-size: 1.5em;
  margin: auto;
}

p 4, p 5 {
  font-family: "Times New Roman", Times, serif;
  width: 50%;
  margin: 10vh 10vw;
  font-size: 3em;
  margin: auto;
  text-align: center;
  }

.world_map {position: relative;}
.world_map .link {
      position: absolute;
      bottom: 10px; /*your button position*/
      right: 10px; /*your button position*/
  }

ol {
  list-style: none;
  padding: 0;
  font-size: 3em;
  display: flex;
  justify-content: space-evenly;
}

.container {
  position: relative;
  width: 80%;
}

.container world_map {
  width: 100%;
  height: auto;
}

.container .btn1 {
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.container .btn2 {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.container .btn3 {
  position: absolute;
  top: 55%;
  left: 40%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.container .btn:hover {
  background-color: black;
}

div class="ending" {
  text-align: center;
}
