body {
    color: rgb(49,58,69)
    font-family: arial
}

div {
  min-height: 100vh
  width: 100vw;
}

h1, h2, h3, p {
  text-align: center;
}


h1 {
  font-size: 10em;
  font-weight: bold;
}

h2 {
  font-size: 2.5em
}

h3 {
  font-size: 2em
}

img {
  display: flex;
  margin: 0 auto;
  padding: 30px;
  border-radius: 130px
}

p {
  font-family: "Times New Roman", Times, serif;
  width: 50%;
  margin: 10vh 10vw;
  font-size: 1.5em;
  margin: auto;
}

p 4, p 5 {
  font-family: "Times New Roman", Times, serif;
  width: 50%;
  margin: 10vh 10vw;
  font-size: 3em;
  margin: auto;
  text-align: center;
  }

.world_map {position: relative;}
.world_map .link {
      position: absolute;
      bottom: 10px; /*your button position*/
      right: 10px; /*your button position*/
  }

ol {
  list-style: none;
  padding: 0;
  font-size: 3em;
  display: flex;
  justify-content: space-evenly;
}

.container {
  position: relative;
  width: 80%;
}

.container world_map {
  width: 100%;
  height: auto;
}

.container .btn1 {
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.container .btn2 {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.container .btn3 {
  position: absolute;
  top: 55%;
  left: 40%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.container .btn:hover {
  background-color: black;
}

div class="ending" {
  text-align: center;
}

@import url("https://fonts.googleapis.com/css?family=Roboto:400");

* {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

*:focus {
	outline: 0;
}

body {
	background: #263238;
}

h3 {
	text-align: center;
}

.container {
	padding: 12px 24px 24px 24px;
	margin: 48px 12px;
	background: #E3F2FD;
	border-radius: 4px;
}

label {
	font-size: 0.85em;
	margin-left: 12px;
}

input[type=text],input[type=email], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=text]:focus,input[type=email]:focus, textarea:focus {
	border: 1px solid green;
}

input[type=submit] {
	background: #64B5F6;
	margin: 0 auto;
	outline: 0;
	color: white;
	border: 0;
	padding: 12px 24px;
	border-radius: 4px;
	transition: all ease-in-out 0.1s;
	position: relative;
	display: inline-block;
	text-align: center;
}

input[type=submit]:focus {
	background: #A5D6A7;
	color: whitesmoke;
}

input[type=submit]:hover {
	background: #2196F3;
}

.center {
	text-align: center;
}

/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}
